<div class="panel">
  <div class="btn-group">
    <button
      class="btn"
      type="button"
      (click)="bold()"
      [ngClass]="{ active: boldpressed }"
    >
      <b>B</b>
    </button>
    <button
      class="btn"
      type="button"
      (click)="italic()"
      [ngClass]="{ active: italicpressed }"
    >
      <i>I</i>
    </button>
    <button
      class="btn"
      type="button"
      (click)="underline()"
      [ngClass]="{ active: underlinepressed }"
    >
      <u>U</u>
    </button>
  </div>
</div>

<div class="file-content">
  <div [hidden]="true" class="file">
    {{ text$ | async }}
  </div>

  <div class="file">
    <app-word
      *ngFor="let w of words; let i = index"
      [w]="w"
      [i]="i"
      (click)="onSelected(i)"
      id="word-{{ i }}"
    ></app-word>
  </div>
</div>
