.file-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.file {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.panel {
  background-color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.format-actions {
  width: 200px;
  margin-right: 400px;
}

button + button {
  margin-left: 5px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active,
.btn:hover {
  background-color: #666;
  color: white;
}
